@charset "utf-8";

nav{
  background-color:#CCC;
  width:100%;
  height:30px
}
nav ul{
	list-style-type:none;
	padding-top:8px;
}
nav ul li{
	float:left;
	margin-right:20px;
}
footer{
	background-color:#CCC;
	height:40px;
	text-align:center;
	font-size:12px;
	padding-top:12px;
}
aside{
	position:absolute;
	background-color:#dda;
	width:200px;
	top:210px;
	right:10px;
}